
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}


.signup-box {
  width: 350px;
  margin: 80px auto;
  text-align: center;
}


.university-logo {
  width: 90px;
  height: auto;
  margin-bottom: 10px;
}


.box-title {
  font-size: 26px;
  color: #2e7d32;
  margin: 10px 0 5px;
  font-weight: bold;
}


.box-sub-title {
  font-size: 16px;
  color: #a94442;
  margin-bottom: 25px;
}


form {
  text-align: left;
}


.form-group {
  margin-bottom: 18px;
}


.input-label {
  display: block;
  font-size: 15px;
  margin-bottom: 6px;
  color: #333;
}


.signup-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}


.signup-input::placeholder {
  color: #bbb;
}


.btn-register {
  width: 100%;
  padding: 12px;
  background-color: #2e7d32;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}


.footer-text {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
  text-align: center;
}


.login-link {
  color: #a94442;
  cursor: pointer;
}

.login-link:hover {
  text-decoration: underline;
}
